body {
    text-align: center;
    background-color: #374151;
    font-family: CursedTimer, sans-serif;
}

@font-face {
  font-family: CursedTimer;
  src: url(CursedTimerUlil-Aznm.ttf);
}

.scorecards {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.score-wrapper {
    padding: 50px 0;
    width: 250px;
    border-radius: 5px;
    color: #F94F6D;
    background: black;
    font-size: 120px;
    margin: 20px 0;
    box-shadow: 0 0 5px black;
}

.point-buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}

button {
    border: 1px solid #EEEEEE;
    background: #374151;
    color: #EEEEEE;
    font-family: CursedTimer, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px black;
    transition: all .1s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

h3 {
    color: #EEEEEE;
    font-weight: 800;
    font-size: 40px;
    text-shadow: 0 0 5px black;
}